<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yummy Donuts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='donut.ico') }}">
</head>

<header>
    <nav class="navbar navbar-inverse navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
            <a class="navbar-brand" href="/"><img style="max-width:50px; margin-top: 0;" src="{{ url_for('static', filename='images/mainlogo.jpg') }}"></a>

		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/menu/">Menu</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/location/">Location</a></li>
						<li><a href="/aboutus/">About Us</a></li>
					</ul>
				</li>
				<li><a href="/contact/">Contact</a></li>
			</ul>
		</div>
	</div>
</nav>

</header>

<body>

{% block body %}{% endblock %}

{#footer starts here#}
<footer class="page-footer">
    <div class="container">

{#            quicklinks and social dunkin donuts style footer#}
    <section class="footer__share">
        <div class="footer__quick-links">
                <h2 class="footer__heading">QUICK LINKS</h2>
                <ul class="quick-links__list list-inline">
                    <li class="quick-links__item ">
                        <a class="quick-links__link" href="http://news.dunkindonuts.com/" target="_blank" data-toggle="modal-external-links">
                            Press Room
                        </a>
                    </li>
                    <li class="quick-links__item ">
                        <a class="quick-links__link" href="/en/dd-cards/mobile-app">
                            Mobile App
                        </a>
                    </li>

                    <li class="quick-links__item ">
                        <a class="quick-links__link" href="http://www.dunkinbrands.com/" target="_blank">
                            Corporate
                        </a>
                    </li>

                    <li class="quick-links__item ">
                        <a class="quick-links__link" href="/en/careers">
                            Careers
                        </a>
                    </li>

                    <li class="quick-links__item ">
                        <a class="quick-links__link" href="http://www.dunkinbrands.com/franchising" target="_blank">
                            Franchising
                        </a>
                    </li>

                    <li class="quick-links__item ">
                        <a class="quick-links__link" href="/en/about/contact-us/faqs">
                            Contact Us
                        </a>
                    </li>
                </ul>
        </div>

            <div class="footer__social">
                <h2 class="footer__heading">FOLLOW US</h2>
                <ul class="footer__social-list list-inline">
                    <li class="footer__social-item">
                        <a class="footer__social-link" href="https://twitter.com/DunkinDonuts" target="_blank" data-toggle="modal-external-links">
                            <img class="footer__social-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAcCAYAAACdz7SqAAAB+ElEQVRIibVWO3LiQBCdAxA4IdjI2gC6Q45A5tDcAI7gzKGnW7uxuYG5gX0DdAPvDaSeoUwVibiBNkCiRDE/4XJXdSa9p/fmTbeUSqxyomeCtBSgZwH9em6kpUF6OIz1KBUrWHvUmUF+E6DaIDcJvbWYz28mFCSdSOQk3030LJmszvSdAH1+g7AxyI0A1WaaL5LsHGBlaq9+XKGrvedsgD5+grCzeo86uyC0mM+/BYpcxZ+jzaVK5MIFJMDHIBDQR53puzPONF8Y4H8GaeNy7qy2vYuOrye9m+hZgLjw5cNM84VLiAVaK6WUEuAnH2kXMIO0GZLK0zu8dWCWXms76/pAe9SZBVqf7AskMhLKw1iPVAdynTg+htSEyisEuanu//5S/kSe7L2J1CMkhbTsJzO1fMHs+uv3n/vgVwnQ59WljlRsUXRKvf4LUmkxnw9RHBsUh7EeKQu0Dg6AAWGKYQlypZRSajfRswhp0965ILlBXsVwzsMhZokgV4KkQxb7BswVaf9ut2OrH6DaIG9jZ9kuiqvJ4+nCZY9nMvG7xfxFkJYG6NFi/mKAXwWpTCRrDPaGfb9OSzyyVW5vfx4iW+WmvghPkDhpKcdbgJ+ihH2rvWecQoZcJf0JuqpNZzK5AB8HqQtVO8RX7Z4sevYXBrmwQOshP9f/AVDAGb0Y1HFgAAAAAElFTkSuQmCC" alt="">
                        </a>
                    </li>

                    <li class="footer__social-item">
                        <a class="footer__social-link" href="https://www.facebook.com/DunkinDonutsUS/" target="_blank" data-toggle="modal-external-links">
                            <img class="footer__social-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAcCAYAAACdz7SqAAABpUlEQVRIib2WsXHCUAyGPQAFDUUqnMJIpUegS8sGMAJd7tIgPaePN0hGyAZ4gzBB7Pee77ijMRs4BTaYw3Zk40N36qz3Wb/0nuQ4Qos98jXyUgO/aqCPsyMvDfLLYUIj6VmttkdyDapPDZwZVLnAtxaDeW+gBQ6FoFp46pEvhmUujTXwzx3A3KDKNXBmZsFCJGcHKaW+GiRDjSqxwKFGpourpOn7xjob4G/Rn4PaZS6Nb+JRRW1S75HcqwCLwVwq102wAHpy/uoYcJG1Gpd65FsMNhaDjUaOxT9c3EVpU0RVqEamLk1lgcNTIKj1o6AaOe4kbW339SjRYUIjx4DaDQHVoI6Sc5Lp25MjlUaQqeicTtAhampQ5b/P71OxvENBy0xFDTAU9DChUdcRdhf0/LikHvmPgp4fh1Nw84QYFFqdNmYWLB4AvYot75mkoXpDa6fTaWtof1U0clxOFYvBxqDaCqGrG2BpqUe+9Dnr1TytYHljtV8RUOt/gaVlLo2FNW4og0pEm2CdFWuMGK5BHTtl12ZFk62L5S2qyB8ZVJEFDrss13/A1qCyb1BlLgAAAABJRU5ErkJggg==" alt="">
                        </a>
                    </li>

                    <li class="footer__social-item">
                        <a class="footer__social-link" href="https://www.pinterest.com/DunkinDonuts/" target="_blank" data-toggle="modal-external-links">
                            <img class="footer__social-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAcCAYAAACdz7SqAAACaElEQVRIiZ1WMY4bMQxUkyaVmwDBVQvEtgik8RP8BAN5gF3lihTZDwQRucCVd9eniH+Q+8H6B74+hU2tEZfrH1wK7/q0ErWrswBVojjicEhKqcS1y8zH/QS/MOCStXlot53iNwZcVp/MONXX4LJAK9a4tUAvQ5sBdxUUP+vMjK4DmxYLBtylgAXgGmvW+P1NgAxorgET9u+kqC3gOj0iOiVEve0FZk151IGmZ9aUH8Fk/r0jmIw15Qy0j0UsAlZQzGVx0L6CYp6cGk25xAADmpBWTc9SdC41dWZGDLi0mv5YoNIClVbTg/+ow8TMfGDWWHdotkCrIcBzBFj35K907e20WIQ2uHaixCffwH19pfExUVxll72uX9ZYK6WUelFf3/W9yM01azqxpryCYi491H+sFG01LubqOL77IFxeOdRvJId1Zkay8LqCEc5v1d/xj8/+gVsWbo6TxAe0cW0CJU/NvQgqUVtpfAxAJXo9u7BZ0C8RtFXhEUwWcxav6wF6Y6B2Wiwu9DRdhjVuO6AxRTt3DxMzC8/NvbLa3PSpt1UgA+07uRJaHms6eVEG9c+At+rfjXnfJ/1Xip3CjuQzoFYQWjVuKkA6bGeiMwRWnUh9VXodLJbzXhr6yshxujnTjGuhR+/60tYYRcdSkKu++VhnZhT73gRjUW7QLXX41NqdJwhufQftBIoNBanOG5rlXwNryi+5dL4yTUSlBSp7J5CX7xBYENVhYmavD3vtxSmbgfZX/ZNcCt8COBihv9xvhxPloMoHczi06syM3Mt9CnfLQvq8XbUOEzNr+u3mAn7O/6ZJxyqVyv8nqu30rQjWUgAAAABJRU5ErkJggg==" alt="">
                        </a>
                    </li>

                    <li class="footer__social-item">
                        <a class="footer__social-link" href="https://www.instagram.com/dunkindonuts/?hl=en" target="_blank" data-toggle="modal-external-links">
                            <img class="footer__social-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAdCAYAAAC9pNwMAAACH0lEQVRIicWWMXLbMBBFcQSW6YzCJNaThl1Kq0sZ3SAqcoBcIOPdpXvrBtIBPBPfQCrTxTeQAXCskrwBU4i0KAqASIozwcwWHID7sB/YXQgxcOwkfnq/e7yxwPcW+N7G/OX97vFmJzEa6uvisJDNDPBKKyoMcOUzDbQzip/2gHIK4CYEC9hq1Aa04p8jgUcFFBUWsllvqAFaXwvt2OJ/QC/Dp5A3JHseY3oG3QNK163VwG8GeGEhm/U1n2pa0d9eEmvFZTEyPwPqHSXfA0pPXmJfUJ16lQGumpvsy/WLu5sAvHX6vf31WQQXDADvAaUGQg2ETeHw+X1L+EcDdt9EDziPMTXAKwO8sZA9+DbjDUjxcy9w7WCTx5gWEqPu7beKlkJ8HNmm+Z4CXBngquX8bK0QQmggrL+3QamB/gwCFxIjA7y4Fjw4YpNk80JiVBeV83WKXweBu458YA20KyRGBzihAVqbJJsLIYRJsnnr3yDYJkhCCCGsomWviGt4u9UVEiML2UPn3yDY3NJX4dhtENzdhHNO0YsPrBWXJznnkvtSWnitkd85T+vTZHdE3W5leYxpn87UNJXWDT+J1vkccktDhVH8ZBR9+3hZBkwDfTeKf4eO7mwcqhKXg2Tta/W5e0ceYzo5XPFrr76ex5i2isHVkQ56TBzK4/iHn1ZcDmmr7ugHpJNWXFpFy7FPJo8CvDCKXgzwtl2XD3Ysn33GPy4XkTuaWZ7kAAAAAElFTkSuQmCC" alt="">
                        </a>
                    </li>

                    <li class="footer__social-item">
                        <a class="footer__social-link" href="https://www.youtube.com/user/dunkindonuts#" target="_blank" data-toggle="modal-external-links">
                            <img class="footer__social-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAdCAYAAAC9pNwMAAACXUlEQVRIia2WwZHqMAyGU0JK8GWRjtsBKYEONh3wOsCSCyAdkA6WDjYd8DoAyzvDMXTAHhKDCXFIAM9oSAY7n2T9spwkE4ZDkzk0K4dmJcBr/2yRvo6o1ZRvjYIJ8sYC1YJ8HjKLtBfg9UtO/H7oT0H+eQSLmUOzqpVOJ0EFOX8W2N2B3w/9ORJK5TugF3iTonwQapF030KHJrPAJwdUPOtYNHKZmUV04cwsBKls8149G/md6Gql02HVUunQZM08Ph1Rq1rpVIC2FkmHNugA8PfDLe56G4iuakqMSpmZxSRwo/bsCgY+jcmRAG2v4OZ3KliAto9z2/G0ze9rYORzrXQ6unw8zCLta6VThyZzQIVF0g5NdkStxoJlZhbJWJVaoJ0XoAXaCfC3z78g/1ikvUXaj/oWkn6QXyqfOXcdmkyA/0d3D6hI4l7xIexGDs3qrvaR85hjbWpiUVdDEV/KxiIfLJLuAVc35XH//2DEvTl2QEXgeeWf2/f8iFoJcuWACgFeBxWy8cfjYI5jqvYRhuCgZC4lZYH/CfI5AOV+/sBW59EWOBbsc+lBDs3q8h4RWK10mtRKp28GZ35tb7T+5EqSJGna3X0p9YEFeWOR9tetpmUItkBLi3yIgW/E6LvOneST5grkhebbo2+RDqjw1oJyQa5kZhYRcNUn/ZtcW6B68p0p/F6nB/h22j+5o3ALtLNIXw557pDnsVtEc3Y3cxzy3AItu/19qN574W+yfNQ2+dp81Szw6WGk3RH03yfBVL6ikbbT0HZshM92tOiolU7DO5YgV+Flb/TFvR1/28K5HQv90BMAAAAASUVORK5CYII=" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </section>

        <div class="col l4 offset-l2 s12">
                <h6 class="white-text">Legal stuff:</h6>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/about/tos/">Terms and Conditions</a></li>
                  <li><a class="grey-text text-lighten-3" href="/about/privacy-policy/">Privacy Policy</a></li>

                </ul>
              </div>
{#            the footer style ends here#}
    </div>
</footer>
{#footer ends here#}


    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>
</html>