{% extends "header.html" %}

{% block body %}

    <div class="jumbotron jumbo2">
      <div class="container">
        <h1 class="headline">Coffee and Donuts</h1>
        <p>The perfect pair</p>
        <br>
      </div>
    </div>

    <section id="menuid">
        <div class="container">
        <div class="col-md-5 left">
                      <div class="wrap-menu">
                            <h2 class="category-item">
                              <span>Coffee</span>
                              <i class="ic-cate"></i>
                            </h2>
                            <div class="row-menu-wrap">
                                  <div class="row-menu">
                                        <a href="#" class="item-menu">Tzatsiki</a>
                                        <span href="#" class="item-prise">$3.99</span>
                                  </div>
                                  <span class="gold-line"></span>
                                <span class="item-descr">Refreshing traditional cucumber and garlic yoghurt dip.</span>
                            </div>
                            <div class="row-menu-wrap">
                                  <div class="row-menu">
                                        <a href="#" class="item-menu">Aubergine Salad</a>
                                        <span href="#" class="item-prise">$5.50</span>
                                  </div>
                                  <span class="gold-line"></span>
                                  <span class="item-descr">Pureed eggplant, garlic, green pepper and tomato dip.</span>
                            </div>
                            <div class="row-menu-wrap">
                                  <div class="row-menu">
                                        <a href="#" class="item-menu">Florentine Salad</a>
                                        <span href="#" class="item-prise">$5.25</span>
                                </div>
                                  <span class="gold-line"></span>
                                  <span class="item-descr">Pureed eggplant, garlic, green pepper and tomato dip.</span>
                            </div>
                        </div>
                </div>

                <div class="col-md-5 right">
                      <div class="wrap-menu">
                            <h2 class="category-item">
                            <span>Sandwiches</span>
                              <i class="ic-cate"></i>
                            </h2>
                            <div class="row-menu-wrap">
                                  <div class="row-menu">
                                        <a href="#" class="item-menu">Haloumi</a>
                                        <span href="#" class="item-prise">$3.99</span>
                                  </div>
                                  <span class="gold-line"></span>
                                <span class="item-descr">Refreshing traditional cucumber and garlic yoghurt dip.</span>
                            </div>
                            <div class="row-menu-wrap">
                                  <div class="row-menu">
                                        <a href="#" class="item-menu">Spinach pie</a>
                                        <span href="#" class="item-prise">$5.50</span>
                                  </div>
                                  <span class="gold-line"></span>
                                <span class="item-descr">Pureed eggplant, garlic, green pepper and tomato dip.</span>
                              </div>
                         </div>
                </div>
                <div class="col-md-5 right">
                        <div class="wrap-menu">
                            <h2 class="category-item">
                                <span>Donuts</span>
                                <i class="ic-cate"></i>
                            </h2>
                            <div class="row-menu-wrap">
                                    <div class="row-menu">
                                        <a href="#" class="item-menu">Cornish Mackerel</a>
                                        <span href="#" class="item-prise">$5.69</span>
                                    </div>
                                    <span class="gold-line"></span>
                                    <span class="item-descr">Refreshing traditional cucumber and garlic yoghurt dip.</span>
                              </div>
                        <div class="row-menu-wrap">
                            <div class="row-menu">
                                <a href="#" class="item-menu">Roast Lamb</a>
                                <span href="#" class="item-prise">$5.50</span>
                            </div>
                            <span class="gold-line"></span>
                            <span class="item-descr">Pureed eggplant, garlic, green pepper and tomato dip.</span>
                        </div>
                        <div class="row-menu-wrap">
                            <div class="row-menu">
                                <a href="#" class="item-menu">Fried Chicken</a>
                                <span href="#" class="item-prise">$5.25</span>
                            </div>
                            <span class="gold-line"></span>
                            <span class="item-descr">Pureed eggplant, garlic, green pepper and tomato dip.</span>
                        </div>
                        <div class="row-menu-wrap">
                            <div class="row-menu">
                                <a href="#" class="item-menu">Pastitsio</a>
                                <span href="#" class="item-prise">$5.99</span>
                            </div>
                            <span class="gold-line"></span>
                            <span class="item-descr">Pureed eggplant, garlic, green pepper and tomato dip.</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 left">
                    <div class="wrap-menu">
                        <h2 class="category-item">
                        <span>Specials</span>
                        <i class="ic-cate"></i>
                        </h2>
                        <div class="row-menu-wrap">
                            <div class="row-menu">
                                <a href="#" class="item-menu">Olive Special</a>
                                <span href="#" class="item-prise">$5.99</span>
                            </div>
                            <span class="gold-line"></span>
                            <span class="item-descr">Refreshing traditional cucumber and garlic yoghurt dip.</span>
                        </div>
                        <div class="row-menu-wrap">
                            <div class="row-menu">
                                <a href="#" class="item-menu">Greek Salad</a>
                                <span href="#" class="item-prise">$5.50</span>
                            </div>
                            <span class="gold-line"></span>
                            <span class="item-descr">Pureed eggplant, garlic, green pepper and tomato dip.</span>
                        </div>
                        <div class="row-menu-wrap">
                            <div class="row-menu">
                                <a href="#" class="item-menu">Gusto Salad</a>
                                <span href="#" class="item-prise">$5.99</span>
                            </div>
                            <span class="gold-line"></span>
                            <span class="item-descr">Pureed eggplant, garlic, green pepper and tomato dip.</span>
                        </div>
                    </div>
                </div>
        </div>
    </section>

{% endblock %}